/*
Tema: Web Storage - localstorage y sessionstorage 
Alumno: Miguel Ángel Arcos
Fecha: 26 de enero de 2021
*/

body{
    background-color: gainsboro;
    background-image: url("computer-1245714_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#boton{
    float: right;
}



.texto{
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
}

#izquierda{
    background-color: lightblue;
    width: 20%;
    border: solid 3px;
    border-color: #6293C9;
    padding: 5px;
}

#izquierda img{
    width: 100%;
    height: auto;
}

#derecha img{
    width: 100%;
    height: auto;
}

#centro{
    background-color: rgb(255, 245, 245);
    width: 60%;
    border:solid;
    border-color: #000000;
    align-items: right;
}

#derecha{
    background-color: rgb(204, 240, 174);
    width: 20%;
    border:solid;
    border-color: #046d00;
    padding: 5px;
}

#contenido{
    display: flex;
    height: 25%;
}