.home {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 45em 0 #000;
    background-image: url("../media/evildead1bg.jpg");
    background-size: cover;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

#peli2 {
    background-image: url("../media/evildead2bg.jpg");
}

.myP {
    text-align: justify;
    font-size: 200%;
    padding-left: 15%;
    padding-right: 5%;
}

.myP2 {
    text-align: justify;
    font-size: 200%;
    padding-left: 15%;
    padding-right: 15%;
}

@media all and (max-width:700px) {
    .myP {
        padding: 2%;
    }
}

.nav {
    z-index: 10;
    background-color: rgb(0, 0, 0);
    transition: background-color 200ms linear;
}

.nav.scrolled {
    transition: 200ms linear;
    padding-top: 0%;
}

.logoblanco {
    display: inline;
    transition: display 200ms linear;
}

#div2 {
    display: flex;
    align-items: center;
}

#army {
    min-width: 32%;
    margin-right: 0px;
    display: hidden;
}

.myH2 {
    color: #d60909;
}

.fondo {
    display: flex;
}

#logopeli1 {
    -webkit-filter: drop-shadow(10px 10px 10px #222);
    filter: drop-shadow(10px 10px 10px #222);
    width: 40%;
    display: inline-flex;
}

.divlogopeli1 {
    width: 30%;
    padding-top: 110px;
    padding-left: 6%;
}

.divposterpeli1 {
    padding-bottom: 0%;
    display: flex;
}

#posterpeli1 {
    padding-bottom: 0%;
    display: block;
    margin-bottom: 0%;
}

#logopeli2 {
    -webkit-filter: drop-shadow(10px 10px 10px #222);
    filter: drop-shadow(10px 10px 10px #222);
    width: 60%;
    display: inline-flex;
}

.divlogopeli2 {
    width: 30%;
    padding-left: 70%;
    padding-top: 2%;
}

.divposterpeli2 {
    padding-bottom: 0%;
    display: flex;
    z-index: 9;
}

#posterpeli2 {
    padding-bottom: 0%;
    display: block;
    margin-bottom: 0%;
}

#button2 {
    background-color: rgb(11, 97, 97);
}

#button3 {
    background-color: brown;
}

#button4 {
    background-color: rgb(110, 21, 65);
}

.ficha {
    font-size: smaller;
}

#salto {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 110px 62px 0px 62px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.596);
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 0 0 0 0;
    width: 80%;
    max-width: 1200px;
}


/* Same with your slides, you set the display to none, because you want to choose which 
one is shown at a time. */

.slide {
    display: none;
}

.image-slide {
    width: 100%;
}

.modal-preview {
    width: 100%;
}

.dots {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* You want the previews a little transparent to show that they are "inactive". 
You then add an .active or :hover class to animate the selections for your user when
they interact with your controls and clickable content.
*/

img.preview,
img.modal-preview {
    opacity: 0.6;
}

img.active,
.preview:hover,
.modal-preview:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close {
    color: rgb(255, 0, 0);
    position: sticky;
    top: 50px;
    margin-right: 0px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.previous,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    width: 70%;
}

.modal img {
    width: 40%;
    margin-left: 25%;
}

#posterpeli2movil {
    display: none;
}

#movil {
    display: none;
}

@media all and (max-width: 30em) {
    a.button {
        display: block;
        margin: 0.2em auto;
    }
}

@media screen and (max-width:968px) {
    body {
        overflow-x: hidden;
    }
    .home {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        background-position: center top;
        opacity: 0.8;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
    .logoblanco {
        display: inline;
    }
    #div2 {
        display: inline;
        align-items: center;
    }
    #army {
        width: 60%;
        margin-left: 25%;
    }
    .divposterpeli1 {
        display: inline;
        width: 100%;
    }
    #logopeli1 {
        width: 100%;
        margin-left: 100%;
    }
    #posterpeli1 {
        width: 100%;
    }
    #posterpeli2movil {
        display: inline;
        padding-top: 5%;
        width: 35%;
        margin-right: 100%;
    }
    .divlogopeli2 {
        padding-left: 30%;
        width: 45%;
    }
    .divposterpeli2 {
        display: list-item;
    }
    #logopeli2 {
        width: 100%;
    }
    #posterpeli2 {
        display: none;
    }
    a.button {
        float: left;
    }
    .footer {
        text-align: left;
        padding-bottom: 1%;
        padding-top: 0%;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 100%;
    }
    .footer a {
        margin-left: 18%;
    }
    .footer p {
        text-align: center;
    }
    #salto {
        display: inline;
    }
    .modal img {
        width: 80%;
        margin-top: 10%;
        margin-left: 0%;
    }
    .myP2 {
        padding-left: 2%;
        padding-right: 2%;
    }
    #button2,
    #button3,
    #button4 {
        font-size: small;
    }
    #button2:hover,
    #button3:hover,
    #button4:hover {
        font-size: large;
    }
}