.container {
    width: 100%;
}

#logopdf {
    height: 90%;
}

#pdf {
    width: 167px;
    margin-right: 5px;
}

.container2 {
    width: 100%;
    max-width: 1060px;
    background: #000;
    overflow: hidden;
    margin: 25px auto;
    position: relative;
    height: 300px;
    padding-top: 300px;
}

.container2:hover .background {
    -webkit-transform: scale(0.8) translate(-50%, -50%);
    -ms-transform: scale(0.8) translate(-50%, -50%);
    transform: scale(0.4) translate(-50%, -50%);
}

.container2:hover .front {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
}

.background {
    width: 900px;
    height: 600px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
}

#ashDolly {
    width: 50%;
}

.front {
    top: 5%;
    left: 37.8%;
    z-index: 1;
    position: absolute;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 1s;
    -webkit-transform: translate( -50%);
    -ms-transform: translate( -50%);
    transform: translate( -50%);
    transition: transform 1s;
    padding-top: 200px;
}