@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
.home {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 45em 0 #000;
    background: url('../media/bgcomics.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 300PX;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    font-family: "Luckiest Guy", cursive;
}

#divh1 {
    width: 100%;
    height: fit-content;
}

h1 {
    font-family: "Luckiest Guy", cursive;
    text-align: center;
    margin: 0;
    font-size: 8em;
    padding: 0;
    color: white;
    text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1), 0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1), 0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1), -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
}

h1 span {
    transform: scale(0.9);
    display: inline-block;
}

h1 span:first-child {
    animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}

h1 span:last-child {
    animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}

@keyframes bop {
    0% {
        transform: scale(0.9);
    }
    50%,
    100% {
        transform: scale(1);
    }
}

@keyframes bopB {
    0% {
        transform: scale(0.9);
    }
    80%,
    100% {
        transform: scale(1) rotateZ(-3deg);
    }
}

.comics {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    margin: auto;
}

.comics img {
    width: 13%;
    padding-left: 5%;
    transform: rotate(-20deg);
    filter: grayscale(80%);
}

.comics #ArmyVsMarvel:hover {
    filter: grayscale(0%);
    animation: imgAvsM 4s linear infinite alternate;
}

@keyframes imgAvsM {
    0% {
        transform: skew(1deg) scale(1.2);
        content: url('../media/comics/marvel_zombies2.png');
    }
    25% {
        transform: skew(-1deg);
        content: url('../media/comics/marvel_zombies3.png');
    }
    50% {
        transform: skew(1deg) scale(1.2);
        content: url('../media/comics/marvel_zombies4.png');
    }
    75% {
        transform: skew(-1deg);
        content: url('../media/comics/marvel_zombies5.png');
    }
    100% {
        transform: skew(1deg) scale(1.2);
        content: url('../media/comics/marvel_zombies6.png');
    }
}

.comics #A2A:hover {
    filter: grayscale(0%);
    animation: imgA2A 3s linear infinite alternate;
}

@keyframes imgA2A {
    0% {
        transform: skew(1deg) scale(1.2);
        content: url('../media/comics/A2A1.png');
    }
    33% {
        transform: skew(-1deg);
        content: url('../media/comics/A2A2.png');
    }
    66% {
        transform: skew(1deg) scale(1.2);
        content: url('../media/comics/A2A3.png');
    }
    100% {
        transform: skew(-1deg);
        content: url('../media/comics/A2A4.png');
    }
}

.comics #FTA:hover {
    filter: grayscale(0%);
    animation: imgfta 3s linear infinite alternate;
}

@keyframes imgfta {
    0% {
        transform: skew(1deg) scale(1.2);
        content: url('../media/comics/FTA1.png');
    }
    33% {
        transform: skew(-1deg);
        content: url('../media/comics/FTA2.png');
    }
    66% {
        transform: skew(1deg) scale(1.2);
        content: url('../media/comics/FTA3.png');
    }
    100% {
        transform: skew(-1deg);
        content: url('../media/comics/FTA4.png');
    }
}

.comics #TLR:hover {
    filter: grayscale(0%);
    animation: imgtlr 3s linear infinite alternate;
}

@keyframes imgtlr {
    0% {
        transform: skew(1deg) scale(1.2);
        content: url('../media/comics/TLR1.png');
    }
    33% {
        transform: skew(-1deg);
        content: url('../media/comics/TLR2.png');
    }
    66% {
        transform: skew(1deg) scale(1.2);
        content: url('../media/comics/TLR3.png');
    }
    100% {
        transform: skew(-1deg);
        content: url('../media/comics/TLR4.png');
    }
}

.comics #ATA:hover {
    filter: grayscale(0%);
    animation: atatlr 6s linear infinite alternate;
}

@keyframes atatlr {
    0% {
        transform: skew(1deg) scale(1.2);
        content: url('../media/comics/ATA1.png');
    }
    15% {
        transform: skew(-1deg);
        content: url('../media/comics/ATA2.png');
    }
    30% {
        transform: skew(1deg) scale(1.2);
        content: url('../media/comics/ATA3.png');
    }
    45% {
        transform: skew(-1deg);
        content: url('../media/comics/ATA4.png');
    }
    60% {
        transform: skew(1deg) scale(1.2);
        content: url('../media/comics/ATA5.png');
    }
    75% {
        transform: skew(-1deg);
        content: url('../media/comics/ATA6.png');
    }
    90% {
        transform: skew(1deg) scale(1.2);
        content: url('../media/comics/ATA7.png');
    }
    100% {
        transform: skew(-1deg);
        content: url('../media/comics/ATA8.png');
    }
}

@media screen and (max-width:968px) {
    h1 {
        padding-top: 60px;
        font-size: 60px;
    }
    .home {
        background-size: cover;
    }
    .comics {
        display: block;
    }
    .comics img {
        width: 40%;
        padding-left: 5%;
        filter: grayscale(90%);
        transform: rotate(0deg);
    }
    .comics #ArmyVsMarvel:hover {
        filter: grayscale(0%);
        animation: imgAvsMmvl 4s linear infinite alternate;
    }
    .comics #A2A:hover {
        filter: grayscale(0%);
        animation: imgA2Amvl 3s linear infinite alternate;
    }
    .comics #TLR:hover {
        filter: grayscale(0%);
        animation: imgtlrmvl 3s linear infinite alternate;
    }
    .comics #ATA:hover {
        filter: grayscale(0%);
        animation: atatlrmvl 6s linear infinite alternate;
    }
    .comics #FTA:hover {
        filter: grayscale(0%);
        animation: imgftamvl 3s linear infinite alternate;
    }
    @keyframes atatlrmvl {
        0% {
            content: url('../media/comics/ATA1.png');
        }
        15% {
            content: url('../media/comics/ATA2.png');
        }
        30% {
            content: url('../media/comics/ATA3.png');
        }
        45% {
            content: url('../media/comics/ATA4.png');
        }
        60% {
            content: url('../media/comics/ATA5.png');
        }
        75% {
            content: url('../media/comics/ATA6.png');
        }
        90% {
            content: url('../media/comics/ATA7.png');
        }
        100% {
            content: url('../media/comics/ATA8.png');
        }
    }
    @keyframes imgtlrmvl {
        0% {
            content: url('../media/comics/TLR1.png');
        }
        33% {
            content: url('../media/comics/TLR2.png');
        }
        66% {
            content: url('../media/comics/TLR3.png');
        }
        100% {
            content: url('../media/comics/TLR4.png');
        }
    }
    @keyframes imgftamvl {
        0% {
            content: url('../media/comics/FTA1.png');
        }
        33% {
            content: url('../media/comics/FTA2.png');
        }
        66% {
            content: url('../media/comics/FTA3.png');
        }
        100% {
            content: url('../media/comics/FTA4.png');
        }
    }
    @keyframes imgA2Amvl {
        0% {
            content: url('../media/comics/A2A1.png');
        }
        33% {
            content: url('../media/comics/A2A2.png');
        }
        66% {
            content: url('../media/comics/A2A3.png');
        }
        100% {
            content: url('../media/comics/A2A4.png');
        }
    }
    @keyframes imgAvsMmvl {
        0% {
            content: url('../media/comics/marvel_zombies2.png');
        }
        25% {
            content: url('../media/comics/marvel_zombies3.png');
        }
        50% {
            content: url('../media/comics/marvel_zombies4.png');
        }
        75% {
            content: url('../media/comics/marvel_zombies5.png');
        }
        100% {
            content: url('../media/comics/marvel_zombies6.png');
        }
    }
}